// colors

// From old site
$c-orange = #F64040
$c-pink = #FC46AD

$c-green = #00F87F
$c-yellow = #FFE952
$c-red = $c-orange
$c-cyan = #31FFD1
$c-blue = #00AADA
$c-purple = #3A0839
$c-purple-light = #4E214D
$c-purple-dark = #2b062a
$c-white    = #FDF7F7

$c-creamy   = rgb(241, 226, 215) // #f1e2d7

$c-orange-semi = rgba($c-orange, 0.5)
// c-white-transparent = rgba(white, .2)
// c-white-semi        = rgba(white, .97)
// c-creamy-semi       = rgba(c-creamy, .2)

// Colors used in theme
$accentColor = $c-orange
$textColor = $c-creamy
$bgColor = $c-purple
$borderColor = $c-orange-semi
$codeBgColor = $c-purple-dark
$arrowBgColor = #ccc


// layout
$navbarHeight = 3.6rem
$navbarBg = $c-purple-light
$sidebarWidth = 20rem
$sidebarBg = $c-purple
$contentWidth = 740px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// code
$lineNumbersWrapperWidth = 3.5rem
$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py
